#wfb-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

/* Estilos para el botón de WhatsApp */
#wfb-button {
    background-color: #25D366; /* Color de fondo de WhatsApp */
    color: white;
    border: none;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: pulse 1.5s infinite;
    width: 70px;
    height: 70px;
    display: flex;
}
#wfb-button img {
	width:100%
}
#wfb-container button#submit {
    background-color: #25D366;
    color: white;
    font-weight: 600;
    width: 100%;
    border: 0;
    font-size: 18px;
}
/* Animación de pulsos */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }
    70% {
        transform: scale(1.05);
        opacity: 0.85;
    }
    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}

/* Estilos para el formulario */
.formulario_whatsapp-form-chat {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 270px;
    display: none; /* Por defecto el formulario estará oculto */
}
#wfb-button , #formulario_whatsapp-form-chat * {
    outline: none;
}
.formulario_whatsapp-form-chat p {
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 12px;
}
.formulario_whatsapp-form-chat.mostrado {
    display: block;
}
div .formulario_whatsapp-form-chat input {
    border: 1px solid #454545!important;
    box-shadow: none;
        padding: 10px;
    font-size: 14px;
}
.cabecera img {
    max-width: 100%;
    height: auto;
}

.box-input {
    position: relative;
    margin-bottom: 15px;
}

.box-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box-input span[data-placeholder] {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    transition: 0.3s;
}

.box-input input:focus + span[data-placeholder],
.box-input input:valid + span[data-placeholder] {
    top: 5px;
    font-size: 10px;
    color: #555;
}

.boton {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton i.fab {
    margin-right: 5px;
}

.cerrar {
    background-color: #eee;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}